{% extends 'base.html' %}{% block body %} {%for message in
get_flashed_messages()%} {{message}}{%endfor%} {%if 'user_email' in session%}
<h1>Hello {{user.email}}</h1>
<h2>Welcome to Task Tracker</h2>
<h2>Please navigate to the My Tasks page to begin tracking your tasks</h2>
{%else%}
<h1>Please Log In</h1>
<div class="create-acc">
  <section>
    <div class="formContainer">
      <form class="p-3" action="/login" method="POST">
        <div class="mb-3 form-floating">
          <input
            class="form-control"
            type="text"
            name="email"
            placeholder="Enter Email"
            id="emailInput"
          />

          <label class="form-label words" for="emailInput">Enter Email</label>
        </div>
        <div class="mb-3 form-floating">
          <input
            id="passwordInput"
            class="form-control"
            type="password"
            name="password"
            placeholder="Enter Password"
            type="password"
          />
          <label class="form-label words" for="passwordInput"
            >Enter Password</label
          >
        </div>

        <p>
          <input class="btn btn-dark" type="submit" />
        </p>
      </form>
    </div>
    {%endif%} {% endblock %}
  </section>
</div>
