{% extends 'base.html' %}{% block body %}
<div>
  <h1>To Do List</h1>
  <form action="/add" method="post">
    <label>Name Of Task</label>
    <input type="text" name="name" />
    <input type="datetime-local" name="due_date" />
    <input type="text" name="user_id" placeholder="{{user_id}}" />

    <button type="submit">ADD</button>
  </form>
</div>
<div>
    {%for todo in todo_list%}
    <div class ="card">
    <p>Task: {{todo.task}}</p>
    {%if todo.completed == False%}
    <p>Due Date: {{todo.due_date}}</p>
    {%elif todo.completed == True%}
    <p>Completed</p>
    {%endif%}
    </div>
  <button class="btn btn-dark"><a href="/update/{{todo.todo_id}}">I Finished!</a></button>
  <a href="/delete/{{todo.todo_id}}"><button class="btn btn-primary">Delete</button></a>
  <a href="/update/{{todo.todo_id}}"><button class="btn btn-primary">Update</button></a>
  </tr>
</div>
{%endfor%}
{%endblock%}
