{% extends 'base.html' %}{% block body %} {%for message in
get_flashed_messages()%} {{message}} {%endfor%}
<div>
  <h2>Add Task</h2>
  <div class="formContainer">
    <form action="/add" method="post">
      <input type="text" name="name" placeholder="Name of Task" />
      <input type="datetime-local" name="due_date" />

      <button class="btn btn-primary" type="submit">ADD</button>
    </form>
  </div>
</div>
<h2>To Do List</h2>
<div class="todoContainer">
  {%for todo in todo_list%} {%if todo.completed == False%}
  <div class="card col-md-3">
    <h5 class="card-title">Task: {{todo.task}}</h5>
    <p>Due Date: {{todo.due_date}}</p>
    <div>
      <a href="/complete/{{todo.todo_id}}"
        ><button class="btn btn-primary">Completed</button></a
      >
      <a href="/delete/{{todo.todo_id}}"
        ><button class="btn btn-primary">Delete</button></a
      >
      <a href="/updates/{{todo.todo_id}}"
        ><button class="btn btn-primary">Update</button></a
      >
    </div>
  </div>
  {%endif%} {%endfor%}
</div>
<h2>Completed Tasks</h2>
<div class="todoContainer">
  {%for todo in todo_list%} {%if todo.completed == True%}
  <div class="card col-md-3">
    <h5 class="card-title">Task: {{todo.task}}</h5>
    <div class="card-body">
      <p>Completed</p>
      <a href="/complete/{{todo.todo_id}}"
        ><button class="btn btn-primary">Not Completed</button></a
      >
      <a href="/delete/{{todo.todo_id}}"
        ><button class="btn btn-primary">Delete</button></a
      >
    </div>
  </div>
  {%endif%} {%endfor%}
</div>
{%endblock%}
